In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(20)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Rikitea,-23.1203,-134.9692,73.96,78,100,16.46,PF,2022-07-17 16:44:10
1,1,Grindavik,63.8424,-22.4338,53.55,82,75,10.36,IS,2022-07-17 16:44:10
2,2,Kapaa,22.0752,-159.3190,79.12,82,75,18.41,US,2022-07-17 16:44:11
3,3,Provideniya,64.3833,-173.3000,50.52,97,100,5.23,RU,2022-07-17 16:44:11
4,4,Chuy,-33.6971,-53.4616,51.76,62,0,13.85,UY,2022-07-17 16:43:05
5,5,Bambous Virieux,-20.3428,57.7575,70.05,68,40,18.41,MU,2022-07-17 16:41:16
6,6,Puerto Ayora,-0.7393,-90.3518,73.36,88,72,5.99,EC,2022-07-17 16:44:12
7,7,Labuhan,-6.8844,112.2051,78.13,84,100,11.27,ID,2022-07-17 16:44:12
8,8,Sabang,5.8933,95.3214,82.65,74,74,5.97,ID,2022-07-17 16:44:13
9,9,Ribeira Grande,38.5167,-28.7000,77.40,73,40,18.41,PT,2022-07-17 16:41:57
10,10,Longyearbyen,78.2186,15.6401,49.84,76,75,4.61,SJ,2022-07-17 16:41:51
11,11,Dikson,73.5069,80.5464,45.48,79,64,8.57,RU,2022-07-17 16:44:14
12,12,Mataura,-46.1927,168.8643,51.48,83,83,6.58,NZ,2022-07-17 16:40:56
13,13,Yar-Sale,66.8333,70.8333,60.26,67,73,3.36,RU,2022-07-17 16:44:15
14,14,Busselton,-33.6500,115.3333,53.35,93,100,13.11,AU,2022-07-17 16:44:15
15,15,Qaanaaq,77.4840,-69.3632,46.29,58,70,2.93,GL,2022-07-17 16:40:57
16,16,Saint George,37.1041,-113.5841,100.80,24,0,5.01,US,2022-07-17 16:44:16
17,17,Bluff,-46.6000,168.3333,51.80,68,84,20.09,NZ,2022-07-17 16:44:16
18,18,Coquimbo,-29.9533,-71.3436,58.73,51,0,3.44,CL,2022-07-17 16:44:17
19,19,Saskylakh,71.9167,114.0833,47.71,59,88,6.55,RU,2022-07-17 16:44:17

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
gmaps.configure(api_key=g_key)
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Kapaa,22.0752,-159.3190,79.12,82,75,18.41,US,2022-07-17 16:44:11
7,7,Labuhan,-6.8844,112.2051,78.13,84,100,11.27,ID,2022-07-17 16:44:12
8,8,Sabang,5.8933,95.3214,82.65,74,74,5.97,ID,2022-07-17 16:44:13
9,9,Ribeira Grande,38.5167,-28.7000,77.40,73,40,18.41,PT,2022-07-17 16:41:57
20,20,Twin Falls,42.3505,-114.6445,79.14,29,0,4.61,US,2022-07-17 16:44:18
21,21,Hithadhoo,-0.6000,73.0833,77.50,92,100,25.66,MV,2022-07-17 16:44:18
23,23,Matara,5.9485,80.5353,79.16,86,100,9.33,LK,2022-07-17 16:44:19
25,25,Atherton,53.5237,-2.4935,89.78,33,94,3.00,GB,2022-07-17 16:44:20
28,28,Bengkulu,-3.8004,102.2655,76.87,90,71,3.20,ID,2022-07-17 16:44:21
30,30,Ponta Do Sol,32.6667,-17.1000,77.72,81,35,9.55,PT,2022-07-17 16:44:22

In [26]:
preferred_cities_df.notnull().sum()

City_ID       204
City          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
Country       204
Date          204
dtype: int64

In [27]:
preferred_cities_df.count()

City_ID       204
City          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
Country       204
Date          204
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2            Kapaa      US     79.12  22.0752 -159.3190
7          Labuhan      ID     78.13  -6.8844  112.2051
8           Sabang      ID     82.65   5.8933   95.3214
9   Ribeira Grande      PT     77.40  38.5167  -28.7000
20      Twin Falls      US     79.14  42.3505 -114.6445
21       Hithadhoo      MV     77.50  -0.6000   73.0833
23          Matara      LK     79.16   5.9485   80.5353
25        Atherton      GB     89.78  53.5237   -2.4935
28        Bengkulu      ID     76.87  -3.8004  102.2655
30    Ponta Do Sol      PT     77.72  32.6667  -17.1000

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Labuhan,ID,78.13,-6.8844,112.2051,DoubleFAG
8,Sabang,ID,82.65,5.8933,95.3214,Hotel Citra
9,Ribeira Grande,PT,77.40,38.5167,-28.7000,Quinta da Meia Eira
20,Twin Falls,US,79.14,42.3505,-114.6445,
21,Hithadhoo,MV,77.50,-0.6000,73.0833,Scoop Guest House
23,Matara,LK,79.16,5.9485,80.5353,Amaloh Boutique Resort
25,Atherton,GB,89.78,53.5237,-2.4935,The Mercury Motel
28,Bengkulu,ID,76.87,-3.8004,102.2655,Grage Hotel Bengkulu
30,Ponta Do Sol,PT,77.72,32.6667,-17.1000,Hotel do Campo

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))